/* Estilos globales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #000000, #1a237e, #0288d1);
}

.main {
    padding: 20px;
    margin: 1.5rem;
}

/* Estilos de la sección 1 */
.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinea a la izquierda */
    align-items: center;
}

.img-perfil {
    position: relative;
    
    height: 80vh; /* Ajusta la altura */
    width: 40%; /* Ajusta el ancho */
    background-color: #020202;
    border-radius: 80%;
    overflow: hidden;
}

.img-perfil img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%; /* Ajusta la altura */
    object-fit: cover;
}

.profesion {
    width: 50%; /* Ajusta el ancho */
    text-align: center;
    padding: 20px;
}

.profesion h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.separator {
    width: 70%;
    height: 1px;
    background-color: #000;
    margin: 10px auto;
}

/* Estilos de la sección 2 */
.section2 {
    text-align: center;
    padding: 20px;
}

.education-work_experience,
.img-dev,
.my-courses {
    max-width: 800px;
    margin: 0 auto 20px; /* Centra y añade espacio inferior */
}

.img-dev img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.my-courses {
    text-align: left; /* Alinea a la izquierda en dispositivos grandes */
}

.my-courses > div {
    margin-bottom: 20px;
}

.my-courses h5, p{
    color:#dbd4d4;
}

/* Estilos para el texto "About me" */
.especialidad {
    max-width: 800px; /* Limitar el ancho del texto */
    margin: 0 auto 20px; /* Centrar horizontalmente y añadir espacio inferior */
    padding: 20px;
    margin-top: 15vh;
    color: #fff; /* Color de texto blanco */
}


.especialidad h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem; /* Tamaño del título */
    margin-bottom: 10px;
    color: #000;
}

.especialidad p {
    font-size: 1.2rem; /* Tamaño del párrafo */
    text-align: center; /* Alineación centrada */
    max-width: 800px; /* Limitar el ancho del texto */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 0 20px; /* Añadir relleno lateral */
    line-height: 1.6; /* Altura de línea aumentada para mejorar la legibilidad */
    color: #dbd4d4;
}



h1, h2, h3, h4, h5 {
    margin: 0;
}

/* Media queries para diseño responsive */
@media screen and (max-width: 768px) {
    .section1 {
        flex-direction: column; /* Cambia a disposición en columna */
        align-items: center; /* Centra los elementos */
        text-align: center; /* Centra el texto */
    }

    .img-perfil {
        margin-top: 10vh;
        width: 80%; /* Ajusta el ancho en dispositivos móviles */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .img-perfil img {
        width: 100%; /* Ajusta el ancho de la imagen */
        height: auto; /* Ajusta la altura automáticamente */
        transform: none; /* Elimina la transformación para ajustar la imagen */
        position: static; /* Cambia la posición a estática */
    }

    .profesion {
        margin-top: 15vh;
        width: 100%; /* Ocupa toda la pantalla en dispositivos pequeños */
        padding: 0 10px; /* Añade padding para evitar que se pegue a la derecha */
        color: #dbd4d4;
    }

    .especialidad {
        margin-top: 40vh;
        padding: 0 10px; /* Añade padding para evitar que se pegue a la derecha */
    }
}


.education-work_experience p {
    color: #dbd4d4;
}